<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="/stylesheets/styles.css" rel="stylesheet" />
</head>
<body>
  <div class="pt-2 relative mx-auto text-gray-600">
    <button
      class="bg-green-400 hover:bg-green-500 text-gray-700 font-semibold hover:font-bold py-2 px-4 hover:border-transparent rounded"
    >
      <a href="/2/<%=id%>/view/home">Quay lại</a>
    </button>
    <h1 class="text-4xl font-bold text-center">Lớp của bạn</h1>
    <table
      id="table"
      class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400"
    >
      <thead
        class="text-xs text-gray-700 uppercase bg-green-300 dark:bg-gray-700 dark:text-gray-400"
      >
        <tr>
          <th scope="col" class="px-6 py-3">STT</th>
          <th scope="col" class="px-6 py-3">Mã lớp</th>
          <th scope="col" class="px-6 py-3">Mã học phần</th>
          <th scope="col" class="px-6 py-3">Ngày dạy</th>
          <th scope="col" class="px-6 py-3">Ca dạy</th>
          <th scope="col" class="px-6 py-3">Tuần dạy</th>
          <th scope="col" class="px-6 py-3">Phòng học</th>
          <th scope="col" class="px-6 py-3">Danh sách học sinh</th>
        </tr>
      </thead>
      <% for (var i = 0; i < tkb.length ; i++) { %>
      <tbody>
        <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
          <th
            scope="row"
            class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"
          >
            <%=i+1%>
          </th>
          <td class="px-6 py-4"><%=tkb[i].ma_lop%></td>
          <td class="px-6 py-4"><%=tkb[i].ma_hoc_phan%></td>
          <td class="px-6 py-4"><%=tkb[i].ngay_hoc%></td>
          <td class="px-6 py-4">
            <%=tkb[i].ca_bat_dau%> - <%=tkb[i].ca_ket_thuc%>
          </td>
          <td class="px-6 py-4">
            <%=tkb[i].tuan_bat_dau%> - <%=tkb[i].tuan_ket_thuc%>
          </td>
          <td class="px-6 py-4"><%=tkb[i].phong_hoc%></td>

          <td class="px-6 py-4">
            <form action="detailClass/<%= tkb[i].ma_lop %>" method="get">
              <button
                type="submit"
                class="text-gray-100 bg-gray-500 hover:font-bold rounded-md px-3 py-2 text-sm font-medium"
              >
                Chi tiết
              </button>
            </form>
          </td>
        </tr>
      </tbody>
      <% } %>
    </table>
    <br />
  </div>
</body>
