<head>
  <link href="/stylesheets/styles.css" rel="stylesheet" />
</head>
<body>
  <div class="relative overflow-x-auto">
    <button
      onclick="history.back()"
      class="bg-green-400 hover:bg-green-500 text-gray-700 font-semibold hover:font-bold py-2 px-4 hover:border-transparent rounded"
    >
      Quay lại
    </button>
    <table
      class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400"
    >
      <thead
        class="text-xs text-gray-700 uppercase bg-gray-200 dark:bg-gray-700 dark:text-gray-400"
      >
        <tr>
          <th scope="col" class="px-6 py-3">Các trường dữ liệu</th>
          <th scope="col" class="px-6 py-3">Thông tin chi tiết</th>
        </tr>
      </thead>
      <tbody>
        <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
          <th
            scope="row"
            class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"
          >
            ID
          </th>
          <td class="px-6 py-4"><%= data.id %></td>
        </tr>

        <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
          <th
            scope="row"
            class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"
          >
            Mã học phần
          </th>
          <td class="px-6 py-4"><%= data.ma_hoc_phan %></td>
        </tr>

        <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
          <th
            scope="row"
            class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"
          >
            Tên học phần
          </th>
          <td class="px-6 py-4"><%= data.ten_hoc_phan %></td>
        </tr>

        <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
          <th
            scope="row"
            class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"
          >
            Số tín chỉ đăng ký
          </th>
          <td class="px-6 py-4"><%= data.so_tc_dang_ky %></td>
        </tr>

        <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
          <th
            scope="row"
            class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"
          >
            Số tín chỉ học phí
          </th>
          <td class="px-6 py-4"><%= data.so_tc_hoc_phi%></td>
        </tr>

        <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
          <th
            scope="row"
            class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"
          >
            Học phí 1 tín chỉ (VND)
          </th>
          <td class="px-6 py-4"><%= data.hoc_phi_mot_tc %></td>
        </tr>

        <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
          <th
            scope="row"
            class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"
          >
            Trọng số (CK-GK)
          </th>
          <td class="px-6 py-4">
            <%= data.trong_so_cuoi_ky %> - <%= data.trong_so_qua_trinh%>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</body>
